<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Contraseña cambiada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <style>
        body {
            background-color: #3387cc;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
			font-family:"Work Sans", Arial, sans-serif;
            padding-top:0px;
        }
        .whiteCenterText {
            text-align: center;
            color: #24ADB3;
        }
		div#general{
			margin:auto;
			margin-top:0px;
			width:960px;
			height: 800px;
			background-color:white;
		}
        .confirmMsg {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
        }
        .boldEmail{
            font-weight: bold;
        }
		.button1 {
			background:#66cc66;
			color: #fff;
			display:inline-block;
			font-size:1.25em;
			margin-left:auto;
			padding:10px 0px;
			text-align:center;
			width:200px;
			text-decoration:none;
			box-shadow:0px 3px 0px #057043;
			border-radius:50px;
		}
		.btn {
		  cursor: pointer;
		  -webkit-border-radius: 40px;
		  -moz-border-radius: 40px;
		  -ms-border-radius: 40px;
		  border-radius: 40px;
		  -webkit-box-shadow: none !important;
		  box-shadow: none !important; }
		  .btn:hover, .btn:active, .btn:focus {
			outline: none; }
		  .btn.btn-primary {
			background: #2ffc7e;
			border: 1px solid #2f89fc;
			color: #fff; }
			.btn.btn-primary:hover {
			  border: 1px solid #2ffc5b;
			  background: transparent;
			  color: #2f89fc; }
			.btn.btn-primary.btn-outline-primary {
			  border: 1px solid #2ffc5b;
			  background: transparent;
			  color: #2ffc39; }
			  .btn.btn-primary.btn-outline-primary:hover {
				border: 1px solid transparent;
				background: #2ffc62;
				color: #fff; }
		  .btn.btn-white {
			background: #fff;
			border: 1px solid #fff;
			color: #2ffc51; }
			.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
			  border: 1px solid #fff;
			  color: #24adb3; }
			.btn.btn-white.btn-outline-white {
			  border-color: rgba(255, 255, 255, 0.8);
			  background: none;
			  -webkit-border-radius: 30px;
			  -moz-border-radius: 30px;
			  -ms-border-radius: 30px;
			  border-radius: 30px;
			  border-width: 1px;
			  color: #fff; }
			  .btn.btn-white.btn-outline-white:hover, .btn.btn-white.btn-outline-white:focus, .btn.btn-white.btn-outline-white:active {
				background: #fff;
				border-color: #fff;
				color: #2f89fc; }
		  .btn.btn-secondary {
			background: #66cc66;
			border: 1px solid #66cc66;
			color: #fff; }
			.btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active {
			  border: 1px solid #66cc66b6;
			  color: #fff; }
    </style>
</head>
<body>
<div class="container whiteCenterText">
	<div id="general">
		<div class="col-sm-6 col-sm-offset-3">
			<div id="imgDiv">
				<img class="center-block" id="logo" alt="logo"
					 style="height: 200px; width: 200px; object-fit: contain;margin-top: 40px" src="/images/logo.PNG">
			</div>
			<h2><%= passwordChanged1 %></h2>
			<p class="confirmMsg"><%= passwordChanged2 %></p>
			<p class="boldEmail confirmMsg"><%= email %></p>
			</br>
			<form action="/">
				<button type="submit" class="btn btn-secondary"><%= backButton %></button>
			</form>
		</div>
    </div>
</div>
</body>
</html>